.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Navbar */
.navbar {
    color: beige;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 3px;
}

.navbar-brand {
    font-weight: 500;
}

.nav-item button {
    letter-spacing: 3px;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

/* main content */
body {
    background: url("images/bg.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu Mono', monospace;
    color: beige;
    text-align: center;
}

.subtext {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    color: beige;
    padding-left: 10vw;
    padding-right: 10vw;
}

#js-rotating {
    color: beige;
}

.helm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.text-content {
    text-align: center;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    text-align: left;
    color: black;
}